.MovieCard {
  width: 12.8rem;
  padding: 0.5rem;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 576px) {
    width: 50%;
  }
}

.MovieCard__poster {
  width: 100%;
  margin-bottom: 0.5rem;
  min-height: 17.5rem;
  background: #555;

  img {
    width: 100%;
  }
}

.MovieCard__poster--loaded {
  background: none;
}

.MovieCard__poster--hidden {
  background: none;

  img {
    display: none;
  }
}

.MovieCard__title {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.MovieCard__subtitle {
  color: #999;
}
