.Pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.Pagination__item {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;

  &:hover {
    background-color: #888;
  }

  img {
    width: 1rem;
  }

  @media (max-width: 576px) {
    width: 2rem;
    height: 2rem;
  }
}

.Pagination__item--active {
  background-color: #555;
}
