.MovieCardSkeleton {
  width: 12.8rem;
  padding: 0.5rem;

  @media (max-width: 576px) {
    width: 50%;
  }
}

.MovieCardSkeleton__poster {
  width: 100%;
  height: 17.5rem;
  margin-bottom: 0.5rem;

  @media (max-width: 576px) {
    height: 14.5rem;
  }
}

.MovieCardSkeleton__title {
  height: 1.4rem;
  margin-bottom: 0.5rem;
}

.MovieCardSkeleton__info {
  width: 3rem;
  height: 1rem;
  margin-bottom: 0.5rem;
}
