.MoviePage {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.MoviePage__poster {
  width: 20rem;
  margin-right: 2rem;
}

.MoviePage__description {
  width: calc(100% - 22rem);
}

.MoviePage__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.MoviePage__detail {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  img {
    width: 1rem;
    margin-right: 0.5rem;
  }
}

.MoviePage__skeleton__poster {
  width: 20rem;
  height: 25rem;
  margin-right: 2rem;
}

.MoviePage__skeleton__title {
  height: 2.5rem;
  width: 20rem;
  margin-bottom: 1rem;
}

.MoviePage__skeleton__detail {
  height: 1.5rem;
  width: 5rem;
}

.MoviePage__skeleton__plot {
  height: 1.5rem;
  width: 15rem;
  margin-bottom: 1rem;
}
